{% requireAdmin %}

{% import "_includes/forms" as forms %}

<div class="readable">
	<blockquote class="note tip">
		The Nag plugin sends an email alert to users on login or profile change, which may alert them of a compromised account.
	</blockquote>
</div>

{{ forms.lightswitchField({
	label: "Restrict alerts to specific User Groups"|t('nag'),
	instructions: "If disabled, all users will receive an alert"|t('nag'),
	name: 'alertRestrictedGroups',
	on: settings.alertRestrictedGroups,
	toggle: 'restrictAlerts'
}) }}

<div id="restrictAlerts" class="nested-fields{% if not settings.alertRestrictedGroups %} hidden{% endif %}">
	{% set allGroups = craft.app.userGroups.allGroups()|map(g => { 
		value: g.id, 
		label: g.name 
	}) %}

	{{ forms.checkboxGroupField({
		label: "Only alert users in these Groups"|t('nag'),
		name: 'alertUserGroups',
		options: allGroups,
		values: settings.alertUserGroups,
		showAllOption: true,
	}) }}

	{{ forms.lightswitchField({
		label: "Send alert to all users with Admin permsissions"|t('nag'),
		name: 'alertAdmins',
		on: settings.alertAdmins,
	}) }}

</div>

{{ forms.lightswitchField({
	label: "Alert Users on Profile Change"|t('nag'),
	instructions: "Sends an email if the username/email is changed"|t('nag'),
	name: 'alertOnProfileChange',
	on: settings.alertOnProfileChange,
}) }}

{{ forms.autosuggestField({
	label: "Use Geolocation Service"|t('app'),
	instructions: "Include City/Country information using [https://www.ip2location.io](https://www.ip2location.io)"|t('nag'),
	id: 'geolocationApiKey',
	name: 'geolocationApiKey',
	suggestEnvVars: true,
	value: settings.geolocationApiKey,
	required: false,
}) }}

{{ forms.textareaField({
	label: "Message Footer"|t('nag'),
	instructions: "Add contact details to the end of the alert message. Accepts markdown"|t('nag'),
	name: 'alertFooter',
	value: settings.alertFooter
}) }}